{% extends "base.html" %}

{% block content %}

    <div class="ui icon message">
        <i class="photo icon"></i>
        <div class="content">
            <div class="header">
                Albums
            </div>
            <p>
                Cat ipsum dolor sit amet, do for proident.
            </p>
        </div>
    </div>

    <div class="ui six items">

        <div class="item create album">
            <div class="content">
                <div class="name">Create Album</div>
                <p class="descripion">
                    Cat ipsum dolor sit amet, do for proident. Velit quasi yet aspernatur autem yet anim for officia id.
                </p>
            </div>

        </div>

        {% for album in galleries %}

            <div class="item">
                <a class="ui rounded image show-image" href="http://placekitten.com/g/200/200">
                    <img src="http://placekitten.com/g/200/200">
                </a>
            </div>

        {% endfor %}

    </div>

    <div id="modal-album" class="ui small modal">
        <div class="header">
            <i class="photo icon"></i>
            Create Album
        </div>
        <div class="content">

            <div class="ui hidden error message">
                <p></p>
            </div>

            <form class="ui form fluid" action="{{ url_for('create_gallery') }}">

                <div class="field" id="name">
                    <label>Name</label>
                    <div class="ui left labeled input">
                        <input type="text" name="name" placeholder="So Cute Kitten" required="required">
                        <div class="ui corner label">
                            <i class="icon asterisk"></i>
                        </div>
                    </div>
                </div>

                <div class="field" id="visibility">
                    <label>Visibility</label>
                    <div class="ui selection dropdown">
                        <input type="hidden" name="visibility" value="private">
                        <div class="text">Private</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="item active" data-value="private">Private</div>
                            <div class="item" data-value="public">Public</div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="actions">
            <div class="ui green submit button"><i class="checkmark icon"></i> Create</div>
        </div>
    </div>


{% endblock %}